/*
main section
*/
main {
    padding: calc(var(--padding-block-section) - 2em) 0 var(--padding-block-section);
    background-color: var(--clr-secondary);
}


/*  
Analytics
*/
.analytics {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--background);
    padding: 1em;
    color: var(--foreground);
    border-radius: var(--radius);
}
.analytics a:link {
    color: var(--link-clr);
}
.analytics a:visited {
    color: var(--visited-clr);
}
.analytics__prop {
    display: flex;
    border: 1px solid #979797;
    border-radius: var(--radius);
}
.analytics__title {
    width: 35%;
    padding: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.analytics__value {
    width: 65%;
    padding: 1em;
    border-left: 1px solid #979797;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.analyze-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3em;
}

.analyze-link__input {
    width: 100%;
    padding: 1em;
    height: 4em;
    border: none;
    font-size: inherit;
    border: 1px solid var(--clr-primary);
    border-radius: var(--radius);
}
.analyze-link__input::placeholder {
    font-size: .8rem;
}