/*
main section
*/
main {
    padding: calc(var(--padding-block-section) - 2em) 0 var(--padding-block-section);
    background-color: var(--clr-secondary);
}


/*  
Links
*/
.links {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--background);
    padding: 1em;
    color: var(--foreground);
    border-radius: var(--radius);
}
.links a:link {
    color: var(--link-clr);
}
.links a:visited {
    color: var(--visited-clr);
}
.links__title {
    font-family: var(--font-title);
    color: var(--foreground);
}
.links__prop {
    display: flex;
    border: 1px solid #979797;
    border-radius: var(--radius);
}
.links__short {
    width: 35%;
    padding: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.links__long {
    width: 65%;
    padding: 1em;
    border-left: 1px solid #979797;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}