@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*
font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;
h1 - 90px
h2 - 30px
h2 - 48px (footer)
h3 - 21px
p - 21px (main)
p - 18px
p - 16px (footer)
*/

:root {
    --clr-light: #F1F1F1;
    --clr-dark: #2E323F;
    --clr-primary: #d0d3db;
    --clr-secondary: #7d86a3;
    --clr-accent: #A59678;

    --foreground: var(--clr-dark);
    --background: var(--clr-light);

    --theme-icon: "☀";

    --inverted: none;

    --font-title: 'Oswald', sans-serif;
    --font-text: 'Montserrat', sans-serif;

    --padding-block-section: 1rem;
    --margin-top-element: 1em;

    --radius: 5px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: var(--font-text);
    line-height: 1.5;
}

body.theme-dark {
    --clr-light: #F1F1F1;
    --clr-dark: #2E323F;
    --clr-primary: #3B4050;
    --clr-secondary: #6F737F;
    --clr-accent: #A59678;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);

    --theme-icon: "🌛︎";

    --inverted: invert(1) hue-rotate(180deg);
}

@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --clr-light: #F1F1F1;
        --clr-dark: #2E323F;
        --clr-primary: #3B4050;
        --clr-secondary: #6F737F;
        --clr-accent: #A59678;

        --foreground: var(--clr-light);
        --background: var(--clr-dark);

        --theme-icon: "🌛︎";

        --inverted: invert(1) hue-rotate(180deg);
    }
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.link--button {
    cursor: pointer;
    border: none;
    background-color: var(--clr-accent);
    color: var(--foreground);
    padding: 0.2em 1.5em;
    border-radius: 8rem;
    font-family: var(--font-title);
    font-size: inherit;
    text-decoration: none;
}
.link--button:hover,
.link--button:focus {
    opacity: 0.75;
}

.func--button {
    vertical-align: bottom;
    height: 4em;
    width: 10em;
    cursor: pointer;
    border: none;
    background-color: var(--clr-accent);
    color: var(--foreground);
    border-radius: var(--radius);
    font-family: var(--font-title);
    font-size: inherit;
    text-decoration: none;
}
.func--button:hover,
.func--button:focus {
    opacity: 0.75;
}


/*
header
*/
header {
    background-color: var(--background);
    padding: 1em 0;
    font-family: var(--font-title);
    text-align: center;
}

.mobile-nav {
    width: 40%;
    text-align: left;
}
.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 50%;
    background-color: var(--clr-accent);
    transition: opacity 250ms ease;
}

.hamburger {
    width: 50%;
    height: 3px;
    display: block;
    margin: 3px auto;
    background-color: var(--foreground);
}


.logo {
    width: 20%;
    margin: 0 auto;
}
.logo-img {
    filter: var(--inverted);
    vertical-align: bottom;
    height: 2.5em;
    aspect-ratio: 1 / 1;
}

.theme {
    width: 40%;
    text-align: right;
}

.select-theme {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--foreground);
    font-weight: 500;
    font-family: var(--font-family);
}
.select-theme option {
    color: var(--foreground);
    background-color: var(--background);
}

.theme-icon::after {
    content: var(--theme-icon);
    color: var(--foreground)
}

.nav {
    display: none;
}
.nav--visible {
    display: block;
    margin-top: var(--margin-top-element);
}

.nav__list {
    list-style: none;
}
/* .nav__item {
    margin-top: 0.5em;
} */
.nav__link {
    text-decoration: none;
    color: var(--foreground);
    cursor: pointer;
}
.nav__link:hover,
.nav__link:focus {
    opacity: 0.75;
}

.logo-and-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

/* 
hello section
*/
.hello {
    background-color: var(--clr-accent);
}
.hello-user {
    color: var(--foreground);
    font-family: var(--font-text);
}
.log-out-button {
    cursor: pointer;
    border: none;
    background-color: red;
    color: var(--foreground);
    border-radius: var(--radius);
    font-family: var(--font-title);
    text-decoration: none;
}
.log-out-button:hover,
.log-out-button:focus {
    opacity: 0.75;
}


/* 
main
*/
.section__title {
    font-family: var(--font-title);
    font-size: 2rem;
    color: var(--foreground);
}


/* 
footer
*/
footer {
    background-color: var(--background);
    padding: 1em;
    color: var(--foreground);
    text-align: center;
}
.copyright {
    vertical-align: bottom;
}


/* 
Erros
*/
.error {
    position: fixed;
    left: 1em;
    bottom: 1em;
    background-color: red;
    padding: 0.5em;
    box-shadow: 0 0 300px 2px var(--foreground);
    border-radius: var(--radius);
}
.error__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.5em;
}
#error__close {
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    text-align: center;
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
}
.error strong {
    color: var(--clr-light);
    font-weight: bold;
}
.error__body {
    background-color: rgb(255, 228, 233);
    color: red;
    padding: 0.5em;
    border-radius: var(--radius);
}



/* 
Screens 700px+
*/
@media (min-width: 700pX) {
    :root {
        --padding-block-section: 5rem;
    }
    .logo-and-theme {
        width: 30%;
        justify-content: left;
    }
    .theme {
        text-align: left;
    }
    .logo {
        margin: 0;
    }
    .nav {
        display: block;
    }
    .nav__list {
        margin: 0;
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }
    .main__side-bar > * + * {
        margin: 0;
    }

    .mobile-nav {
        display: none;
    }
}

/* 
Screens 1000px+
*/
@media (min-width: 1000px) {
    :root {
        --padding-block-section: 8rem;
    }
    .row-large {
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }
    .col-large {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2em;
    }
    .flex-end {
        align-items: flex-end;
    }

    .footer {
        padding-top: 3rem;
    }
    .footer__title {
        text-align: center;
        padding-bottom: 2rem;
    }

    .footer__about {
        width: 40%;
    }
    .list__container {
        margin: 0;
    }
}