@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*
font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;
h1 - 90px
h2 - 30px
h2 - 48px (footer)
h3 - 21px
p - 21px (main)
p - 18px
p - 16px (footer)
*/

:root {
    --clr-light: #F1F1F1;
    --clr-dark: #2E323F;
    --clr-primary: #d0d3db;
    --clr-secondary: #7d86a3;
    --clr-accent: #A59678;

    --foreground: var(--clr-dark);
    --background: var(--clr-light);

    --theme-icon: "☀";

    --inverted: none;

    --font-title: 'Oswald', sans-serif;
    --font-text: 'Montserrat', sans-serif;

    --padding-block-section: 1rem;
    --margin-top-element: 1em;

    --radius: 5px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: var(--font-text);
    line-height: 1.5;
}
body.theme-dark {
    --clr-light: #F1F1F1;
    --clr-dark: #2E323F;
    --clr-primary: #3B4050;
    --clr-secondary: #6F737F;
    --clr-accent: #A59678;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);

    --theme-icon: "🌛︎";

    --inverted: invert(1) hue-rotate(180deg);
}

@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --clr-light: #F1F1F1;
        --clr-dark: #2E323F;
        --clr-primary: #3B4050;
        --clr-secondary: #6F737F;
        --clr-accent: #A59678;

        --foreground: var(--clr-light);
        --background: var(--clr-dark);

        --theme-icon: "🌛︎";

        --inverted: invert(1) hue-rotate(180deg);
    }
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.link--button {
    cursor: pointer;
    border: none;
    background-color: var(--clr-accent);
    color: var(--foreground);
    padding: 0.2em 1.5em;
    border-radius: 8rem;
    font-family: var(--font-title);
    font-size: inherit;
}
.link--button:hover,
.link--button:focus {
    opacity: 0.75;
}

.func--button {
    vertical-align: bottom;
    height: 4em;
    width: 10em;
    cursor: pointer;
    border: none;
    background-color: var(--clr-accent);
    color: var(--foreground);
    border-radius: var(--radius);
    font-family: var(--font-title);
    font-size: inherit;
}
.func--button:hover,
.func--button:focus {
    opacity: 0.75;
}

/*
header
*/
header {
    background-color: var(--background);
    padding: 1em 0;
    font-family: var(--font-title);
    text-align: center;
}

.mobile-nav {
    width: 40%;
    text-align: left;
}
.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 50%;
    background-color: var(--clr-accent);
    transition: opacity 250ms ease;
}

.hamburger {
    width: 50%;
    height: 3px;
    display: block;
    margin: 3px auto;
    background-color: var(--foreground);
}


.logo {
    width: 20%;
    margin: 0 auto;
}
.logo-img {
    filter: var(--inverted);
    vertical-align: bottom;
    height: 2.5em;
    aspect-ratio: 1 / 1;
}

.theme {
    width: 40%;
    text-align: right;
}

.select-theme {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--foreground);
    font-weight: 500;
    font-family: var(--font-family);
}
.select-theme option {
    color: var(--foreground);
    background-color: var(--background);
}

.theme-icon::after {
    content: var(--theme-icon);
    color: var(--foreground)
}

.nav {
    display: none;
}
.nav--visible {
    display: block;
    margin-top: var(--margin-top-element);
}

.nav__list {
    list-style: none;
}
/* .nav__item {
    margin-top: 0.5em;
} */
.nav__link {
    text-decoration: none;
    color: var(--foreground);
}
.nav__link:hover,
.nav__link:focus {
    opacity: 0.75;
}

.logo-and-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

/*
intro section
*/
.intro {
    background-color: var(--clr-primary);
    padding: var(--padding-block-section) 0;
}
.intro__title {
    font-family: var(--font-title);
    font-size: 4rem;
    line-height: 1.1;
    color: var(--foreground);
}

.intro__cta {
    color: var(--foreground);
    font-size: 1.3rem;
}

.intro__cta > * {
    margin-top: var(--margin-top-element);
}

.intro__button {
    text-transform: uppercase;
}


/*
main section
*/
main {
    padding: var(--padding-block-section) 0;
    background-color: var(--clr-secondary);
}

.shorten--container {
    text-align: center;
}

.shorten {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3em;
}

.shorten__input {
    width: 100%;
    padding: 1em;
    height: 4em;
    border: none;
    font-size: inherit;
    border-radius: var(--radius);
}

.output {
    margin-top: var(--margin-top-element);
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3em;
    background-color: var(--clr-primary);
    border-radius: var(--radius);
}

.short-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.long-link {
    text-align: left;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--foreground);
}

.short-link {
    width: 100%;
}

.copy--button {
    vertical-align: bottom;
    height: 2em;
    padding: 0 2em;
    cursor: pointer;
    border: none;
    background-color: var(--clr-primary);
    color: var(--foreground);
    border: 1px solid;
    border-radius: var(--radius);
    font-family: var(--font-title);
    font-size: inherit;
}
.copy--button:hover,
.copy--button:focus {
    background-color: var(--foreground);
    color: var(--clr-primary);
    border: 1px solid var(--foreground);
}

.display-none {
    display: none;
}


/* 
footer
*/
footer {
    background-color: var(--background);
    padding: 1em;
    color: var(--foreground);
    text-align: center;
}
.copyright {
    vertical-align: bottom;
}






@media (min-width: 700pX) {
    :root {
        --padding-block-section: 5rem;
    }
    .logo-and-theme {
        width: 30%;
        justify-content: left;
    }
    .theme {
        text-align: left;
    }
    .logo {
        margin: 0;
    }
    .nav {
        display: block;
    }
    .nav__list {
        margin: 0;
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }
    .main__side-bar > * + * {
        margin: 0;
    }
    
    
    .section--two__content + .section--two__content {
        margin: 0;
    }

    .mobile-nav {
        display: none;
    }
}

@media (min-width: 1000px) {
    :root {
        --padding-block-section: 8rem;
    }
    .row-large {
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }
    .col-large {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2em;
    }
    .flex-end {
        align-items: flex-end;
    }

    .section--two__content {
        text-align: center;
    }

    .footer {
        padding-top: 3rem;
    }
    .footer__title {
        text-align: center;
        padding-bottom: 2rem;
    }

    .footer__about {
        width: 40%;
    }
    .list__container {
        margin: 0;
    }
}